<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>NetMarket</display-name><listener>
	<listener-class>com.catgen.factories.MySqlDBPooling</listener-class>
</listener>

<servlet>
    <servlet-name>urlprocessor</servlet-name>
    <servlet-class>com.catgen.servlet.URLProcessor</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>urlprocessor</servlet-name>
    <url-pattern>/</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.xml</url-pattern>
	<url-pattern>*.css</url-pattern>
	<url-pattern>*.js</url-pattern>
	<url-pattern>*.jpg</url-pattern>
	<url-pattern>*.jpeg</url-pattern>
	<url-pattern>*.ico</url-pattern>
	<url-pattern>*.png</url-pattern>
	<url-pattern>*.gif</url-pattern>
	<url-pattern>*.zip</url-pattern>
</servlet-mapping>

</web-app>
